<style>
  body {
    margin: 100px;
    text-align: left;
    background-image: url(/images/);


  }
</style>

<br>
<form method="POST" action="/symptoms">
  <div>


  </div>

  <h4 class="f">Welcome, {{email}}</h4>
  <h1>Upload image</h1>
  <input type="text" name="token" value="" id="token" hidden></input>
  <input class="adjust" type="file" id="photo" /><br>
    <button class="btn btn-primary" onclick="uploadImage()">Upload Image</button><br><br>
  <br>
  {{!-- <center> <button type="submit" class="btn btn-primary" value="SelectSymptoms">Select these symptoms</button></center> --}}





</form>
 <script src="https://www.gstatic.com/firebasejs/7.7.0/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.7.0/firebase-storage.js"></script>



<script>

  $(document).ready(function () {
    localStorage.setItem('email', '{{email}}');
//    console.log(localStorage.getItem('email'));
    document.getElementById('token').value = localStorage.getItem('email');

  });

//  console.log('{{email}}'.replace(/ /g,''))
  var actualName = '{{email}}'.replace(/ /g,'')
  console.log(actualName)
  var firebaseConfig = {
    apiKey: "AIzaSyAzH6Dct0f6yYU7iMCCC5W7f3j_Pq2KqfE",
    authDomain: "dsattendance-6f038.firebaseapp.com",
    databaseURL: "https://dsattendance-6f038-default-rtdb.firebaseio.com",
    projectId: "dsattendance-6f038",
    storageBucket: "dsattendance-6f038.appspot.com",
    messagingSenderId: "493490183686",
    appId: "1:493490183686:web:2956fd9d3a856fcb2bed87",
    measurementId: "G-6ZML9ZKL5G"
  };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
    console.log(firebase);
    
    function uploadImage() {
      const ref = firebase.storage().ref();
      const file = document.querySelector("#photo").files[0];
      const name = +new Date() + "-" + file.name;
      const metadata = {
        contentType: file.type
      };
      const task = ref.child(actualName+"/"+name).put(file, metadata);
      task
        .then(snapshot => snapshot.ref.getDownloadURL())
        .then(url => {
          console.log(url);
          alert("Uploaded");
          window.location.reload();
        })
        .catch(console.error);
    }


</script>