<style>
  body{
    background-color: rgb(178, 247, 224);
  }
    .doc{
        margin: 60px 60px;
        justify-content: center;
    }
    .card-img-top{
      width: 250px;
      height: 300px;
      text-align: center;
    }
    .head{
      font-size: 70px;
      margin-top: 30px;
      text-align: center;
    }
    .card-text{
      font-size: 17px;
    }
</style>

<h1 class="head">Select Doctor</h1>
<center>
<div class="doc">
<div class="card-deck">
  <div class="card border-info">
    <center><img class="card-img-top" src="/images/one.png" alt="Card image cap"></center>
    <div class="card-body">
      <h2 class="card-title">ABC</h2>
      <p class="card-text">I am a specialised in diagnosing general illness</p>
      <p class="card-text"><b>Experience</b> : 3 years</p>
      <p class="card-text"><b>Degree</b> : MBBS</p>
    <form method="POST" action="/sel1">
      <input type="text" name="token" value="" id="token" hidden></input>
    <button class="btn btn-primary" type="submit">Select ABC</button></form>
    </div>
  </div>
  <div class="card border-info">
    <center><img class="card-img-top" src="/images/two.png" alt="Card image cap"></center>
    <div class="card-body">
      <h2 class="card-title">DEF</h2>
      <p class="card-text">I am a specialised dentist</p>
      <p class="card-text"><b>Experience</b> : 5 years</p>
      <p class="card-text"><b>Degree</b> : Bachelor of Dental Surgery</p>
      <form method="POST" action="/sel2">
      <input type="text" name="token2" value="" id="token2" hidden></input>
    <button class="btn btn-primary" type="submit">Select DEF</button></form>
    </div>
  </div>
  <div class="card border-info">
    <center><img class="card-img-top" src="/images/three.png" alt="Card image cap"></center>
    <div class="card-body">
      <h2 class="card-title">XYZ</h2>
      <p class="card-text">I am a specialised physician</p>
      <p class="card-text"><b>Experience</b> : 8 years</p>
      <p class="card-text"><b>Degree</b> : MD</p>    
      <form method="POST" action="/sel3">
      <input type="text" name="token3" value="" id="token3" hidden></input>
    <button class="btn btn-primary" type="submit">Select XYZ</button></form>
    </div>
  </div>
</div>
</center>

</div>

<script>

$( document ).ready(function() {
    
    document.getElementById('token').value = localStorage.getItem('email');
    document.getElementById('token2').value = localStorage.getItem('email');

    document.getElementById('token3').value = localStorage.getItem('email');


});

</script>